<h1>Редактировать курс {{ course.title }}</h1>

<form action="/courses/edit" method="post">
    <input type="hidden" name="id" value="{{course.id}}">
    <div class="input-field col s6">
        <input type="text" name="title" id="nameCourse" value="{{course.title}}" required class="validate">
        <label for="nameCourse">Название курса</label>
    </div>
    <div class="input-field col s6">
        <input type="number" name="price" id="priceCourse" value="{{course.price}}" required class="validate">
        <label for="priceCourse">Цена курса курса</label>
    </div>
    <div class="input-field col s6">
        <input type="text" name="img"  id="imgCourse" value="{{course.img}}" required class="validate">
        <label for="imgCourse">URL картинки</label>
    </div>


    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>